.visit_form__container {
  direction: rtl;
}
.submit_button {
  background-color: #fa8735;
  color: #fff;
  border: none !important;
  height: 48px;
  border: none !important;
}
.submit_button:focus {
  background-color: #fa8735;
  box-shadow: none !important;
}
.submit_button:hover {
  background-color: #ed731c;
  box-shadow: none !important;
}
.back_button {
  cursor: pointer;
  font-size: 12px !important;
}
.back_button:hover {
  color: cornflowerblue;
}
