.dashboard_page__container {
  height: auto;
  width: auto;
  background-size: cover;
  background-image: url('../../../public/images/background.png');
}
.option_list__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.statistics__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
